# Import Libraries

In [1]:
import pandas as pd
import joblib

# Data Inference

In [2]:
# load model
model = joblib.load("my_model.pkl")

# membuat data inference
data = {
    'TRANSACTION_ID' : [196909., 1113560],
    'CUSTOMER_ID' : [1997,1728],
    'TERMINAL_ID' : [8875,1003],
    'TX_AMOUNT' : [ 182.96, 1051.92],
    'TX_TIME_SECONDS' : [ 1773796, 10046193],
    'TX_TIME_DAYS' : [ 20, 116]
    }

# Membuat DataFrame
data_inf = pd.DataFrame(data)
data_inf

,TRANSACTION_ID,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS
0,196909.0,1997,8875,182.96,1773796,20
1,1113560.0,1728,1003,1051.92,10046193,116

# Model Prediction Inference

In [3]:
# Memprediksi menggunakan model pada data_inf
prediction = model.predict(data_inf)

# Menambahkan kolom 'Prediction' ke dalam DataFrame data_inf
data_inf['Prediction'] = prediction
data_inf

,TRANSACTION_ID,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,Prediction
0,196909.0,1997,8875,182.96,1773796,20,0
1,1113560.0,1728,1003,1051.92,10046193,116,1

# Kesimpulan

model membuat prediksi berdasarkan fitur-fitur transaksi tertentu. Transaksi pertama dianggap sebagai non-fraud, sementara transaksi kedua dianggap sebagai fraud. Model ini mungkin menggunakan karakteristik seperti jumlah transaksi, jumlah uang yang ditransfer, dan waktu transaksi untuk membuat prediksi.